@import "color";

.dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: $light;

  &__content {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    max-width: 800px;
    width: 100%;
  }

  &__stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    .dashboard__box {
      flex: 1;
      text-align: center;
      background-color: $amber;
      border-radius: 8px;
      padding: 1rem;
      margin: 0 0.5rem;
      color: white;

      h3 {
        font-size: 1.5rem;
        margin: 0;
        color: $light;
      }

      p {
        font-size: 1rem;
        color: white;
        margin-top: 0.5rem;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    a {
      text-decoration: none;
      color: $lightbrown;
      font-weight: 500;
      margin-bottom: 0.5rem;
      transition: color 0.2s ease;

      &:hover {
        color: $brown;
      }
    }

    .dashboard__chart {
      flex: 3;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 400px;
      margin-left: 7rem;

      canvas {
        max-width: 100%;
        height: auto;
      }
    }
  }
  @media (max-width: 768px) {
    &__stats {
      flex-direction: column; // Stack boxes on smaller screens
      align-items: center; // Center align boxes
    }

    &__actions {
      flex-direction: column; // Stack actions on smaller screens
      align-items: center; // Center align actions
      margin-top: 1rem; // Add some spacing between sections

      .dashboard__chart {
        margin-left: 0; // Remove left margin for small screens
        margin-top: 1rem; // Add spacing between links and chart
      }
    }
  }
  @media (max-width: 480px) {
    &__content {
      padding: 1rem; // Reduce padding for very small screens
    }
  }
}
