@import "color";

.founder {
  width: 100%;
  height: 80vh;
  background-color: $brown;

  > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 50%;
    text-align: center;
    margin: auto;

    > img {
      border-radius: 100%;
    }
  }
}
