@import "color";

.home {
  height: 100vh;
  overflow-x: hidden;

  div {
    padding-left: 7rem;
    padding-top: 12rem;
    > h1 {
      font-size: 3rem;
      text-transform: uppercase;
      color: $brown;
    }

    > p {
      font-size: 1.2rem;
      color: $orange;
    }
  }

  > a {
    display: block;
    margin: 2rem 8rem;
    width: 10rem;
    background-color: $amber;
    color: white;
    text-align: center;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: $brown;
    }
  }

  &::before {
    content: "";
    width: 90%;
    height: 100%;
    background-image: url("../assets/cool-background.svg");
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    left: 10%;
    z-index: -1;
  }
}

@media screen and (max-width: 600px) {
  .home {
    > div {
      text-align: center;
      padding-top: 10rem;
      padding-left: 2rem;
    }

    > a {
      margin: 2rem auto;
    }
  }
}
